HELP.md
target/
#!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
# Mac
/.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
src/test/.DS_Store
src/test/java/.DS_Store
src/test/java/com/.DS_Store
src/test/java/com/and/.DS_Store
src/test/java/com/and/playground/.DS_Store
